body{
    font-family: fantasy;
}

body{
    background-color: #c0c0c0;
}

.sidebar {
    position: fixed;
    top: 8%;
    bottom: 0;
    /*left: 0;*/
    /* z-index: 100; */
    padding-top: 2%;
    padding-bottom: 5%;
    /* margin-top: 5%; */
    /* padding: 48px 0 0; */
    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
    background-color: #d4d3d3;
    opacity: 0.75;
    border-right: 10px white !important;
}

.main{
    padding-top: 7%;
}

h1{
    text-align: center;
}
h4{
    text-align: center;
}